<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotsFactory.MongoDb.ConnectionStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotsFactory.MongoDb.ConnectionStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RobotsFactory.MongoDb.ConnectionStrings>
            <setting name="MongoDbDefaultDatabase" serializeAs="String">
                <value>robotsfactorydata</value>
            </setting>
        </RobotsFactory.MongoDb.ConnectionStrings>
    </userSettings>
    <applicationSettings>
        <RobotsFactory.MongoDb.ConnectionStrings>
            <setting name="MongoDbCloudDatabase" serializeAs="String">
                <value>mongodb://zealot:telerik@ds063879.mongolab.com:63879/robotsfactorydata</value>
            </setting>
        </RobotsFactory.MongoDb.ConnectionStrings>
    </applicationSettings>
</configuration>