/RobotsFactory/RobotsFactory.v12.suo
/RobotsFactory/RobotsFactory.jmconfig
/RobotsFactory/*.suo
RobotsFactory/RobotsFactory.WPF/obj/
RobotsFactory/RobotsFactory.WPF/obj/Debug/
RobotsFactory/RobotsFactory.Reports.Models/obj/
RobotsFactory/RobotsFactory.Reports.Models/obj/Debug/
RobotsFactory/RobotsFactory.Common/obj/
RobotsFactory/RobotsFactory.ConsoleClient/bin/
RobotsFactory/RobotsFactory.ConsoleClient/obj/
RobotsFactory/RobotsFactory.Data/obj/
RobotsFactory/RobotsFactory.Models/obj/
packages
/Reports/Extracted_Reports
/Reports/Excel_Reports
/Reports/XML_Reports
PDF_Reports
obj
Release
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/RobotsFactory.MySQL.dll.config
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/RobotsFactory.MySQL.pdb
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.35.Extensions.dll
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.35.Extensions.xml
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.40.Extensions.dll
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.40.Extensions.xml
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.dll
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.Runtime.dll
/RobotsFactory/RobotsFactory.MySQL/bin/Debug/Telerik.OpenAccess.xml
/RobotsFactory/RobotsFactory.Common/bin
/RobotsFactory/RobotsFactory.Data/bin
/RobotsFactory/RobotsFactory.Models/bin
/RobotsFactory/RobotsFactory.MongoDb/bin
/RobotsFactory/RobotsFactory.Reports.Models/bin
/RobotsFactory/RobotsFactory.WPF/bin
