/RobotsFactory/RobotsFactory.v12.suo
/RobotsFactory/RobotsFactory.jmconfig
/RobotsFactory/*.suo
RobotsFactory/RobotsFactory.WPF/obj/
RobotsFactory/RobotsFactory.WPF/obj/Debug/
RobotsFactory/RobotsFactory.Reports.Models/obj/
RobotsFactory/RobotsFactory.Reports.Models/obj/Debug/
RobotsFactory/RobotsFactory.Common/obj/
RobotsFactory/RobotsFactory.ConsoleClient/bin/
RobotsFactory/RobotsFactory.ConsoleClient/obj/
RobotsFactory/RobotsFactory.Data/obj/
RobotsFactory/RobotsFactory.Models/obj/
bin
packages
/Reports/Extracted_Reports
/Reports/Excel_Reports
/Reports/XML_Reports
PDF_Reports
obj
